body{
    background-color: rgba(0, 0, 0, 0.859);
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
h1{
    font-variant: small-caps;
    font-size: 40px;
    letter-spacing: 3px;


}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}
div{
    width: 90%;
    height: 90%;
    background-color: gray;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 1px rgba(128, 128, 128, 0.283) , -5px -5px 10px 1px rgba(128, 128, 128, 0.283);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1px;
}

ul{
    color: rgba(0, 0, 0, 0.762);
    list-style: none;
    font-size: x-large;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}
section{
    font-size: 21px;
    color: rgb(0, 0, 0);
    width: 51%;
    padding: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.203);
}
h2{
    font-variant: small-caps;
    font-size: 48px;
}
a{
    color: black;
    text-decoration: none;
    transition: color 0.4s ;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.37);

}
a:visited{
    color: rgba(0, 0, 0, 0.7);
}
a:hover{
    color: rgba(60, 12, 12, 0.518);
    text-shadow: 1px 1px 3px transparent;
}
@media (max-width: 600px){
    section{
        width: 60%;
        margin: auto;
    }
    nav{
        display: flex;
        flex-direction: column;
    }
}